@use "sass:map";
// Load Settings
@use "settings" as *;

// Get lib before custom
@use "lib" as *;
@use "theme/light" as *;
@use "theme/measurements" as *;

@forward "components/media-select";

$spacing: 1rem;
$menu-size: 2rem;
$border-radius: 0.5rem;

body {
	// padding-left: 300px;
	padding-top: $menu-size;
}

.layout-menu {
	background-color: grey;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	height: $menu-size;
	box-sizing: border-box;

	padding: 0 1rem;

	&__button {
		display: inline-block;
		background-color: color('primary', 400);
		font-weight: 800;
		color: $white;
		text-decoration: none;
		border: none;
		padding: 0 1rem;
		// line-height: 1;

		&:focus,
		&:hover {
			background-color: color('primary', 500);
		}

		&+* {
			margin-left: auto;
		}
	}

	&>*>* {
		margin-bottom: 0;
	}
}

.layout-container, .layout-element, .layout-slot {
	width: 100%;
	position: relative;
}

.layout-container {
	border: solid 4px grey;
}

.layout-element {
	position: relative;
	border: solid 4px transparent;
	margin-top: -4px;
	margin-bottom: -4px;
	transition: 150ms border-color;

	&:hover {
		border: solid 4px color('primary', 400);

		.layout-handle {
			opacity: 1;
		}

		.select-media {
			opacity: 1;
		}
	}

	.ce-block__content,
	.ce-toolbar__content {
		max-width: 100%;
	}
}

.layout-slot {
	background: #f6f6f6;
	color: #333;
	border-radius: $border-radius;
	padding: $spacing $spacing $spacing $spacing * 4;
}

.layout-handle {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 1rem;
	left: 1rem;
	transition: 150ms opacity;
	display: flex;
	gap: 2rem;
	justify-content: space-between;

	&__actions {
		:first-child {
			border-bottom-left-radius: $border-radius;
		}

		:last-child {
			border-bottom-right-radius: $border-radius;
		}
	}
}

.rhino-button {
	@include light;
	@include measurements;

	display: inline-block;
	background-color: color('primary', 400);
	color: $white;
	font-weight: 800;
	text-decoration: none;
	border: none;
	padding: 0.5rem 1rem;

	&:focus,
	&:hover {
		background-color: color('primary', 500);
	}

	&[name=new-component] {
		position: absolute;
		// top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: var(--border-radius);
	}
}

.rhino-select {
	@include light;
	@include measurements;

	display: inline-block;
	color: color("neutral", 700);
	font-weight: 600;
	appearance: none;
	padding-right: 2rem;
	padding-left: 0.5rem;
	padding-block: 0rem;
	text-decoration: none;
	border: color('primary', 400) solid 0.5rem;
	border-radius: 0 0 $border-radius $border-radius;

	--icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{to-rgb(color("neutral", 700))}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
	background-image: var(--icon-chevron);
	background-position: center right 0.75rem;
	background-size: 1rem auto;
	background-repeat: no-repeat;
}

.select-media {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

dialog {
	@include light;
	@include measurements;
	width: 100%;
	max-width: 52rem;
	margin: auto;
	border: none;
	// padding: var(--typography-spacing-vertical);

	@include for-size(sm-up) {
		width: calc(100% - (var(--outer-bound) * 2));
	}

	&::backdrop {
		--modal-overlay-background-color: rgba(0, 0, 0, 0.2);
		background-color: var(--modal-overlay-background-color);

		--modal-overlay-backdrop-filter: blur(0.25rem);
		-webkit-backdrop-filter: var(--modal-overlay-backdrop-filter);
		backdrop-filter: var(--modal-overlay-backdrop-filter);
	}

	.close,
	[aria-label="close"] {
		position: sticky;
		display: block;

		right: 0;
		margin-left: auto;
		top: 0;

		width: 1rem;
		height: 1rem;
		background-image: var(--icon-close);
		background-position: center;
		background-size: auto 1rem;
		background-repeat: no-repeat;
		opacity: .5;

		padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
		margin-bottom: var(--spacing);
		--background-color: transparent;
		background-color: var(--background-color);
		--border-color: var(--contrast);
		border: var(--border-width) solid var(--border-color);

		&:focus, &:hover {
			--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)), 0 0 0 var(--outline-width) var(--contrast-focus);
			--border-color: var(--contrast-hover);
			--color: var(--contrast-hover);
			--background-color: transparent;
			box-shadow: var(--box-shadow);
		}
	}

	&>article {
		// margin: calc(var(--typography-spacing-vertical) * -1);
		padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
		border-radius: var(--border-radius);
		background: var(--card-background-color);
		box-shadow: var(--card-box-shadow);

		&>footer {
			border-top: var(--border-width) solid var(--card-border-color);
			border-bottom-right-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);

			border-top: var(--border-width) solid var(--card-border-color);
			border-bottom-right-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);

			padding: calc(var(--block-spacing-vertical) * 0.66) var(--block-spacing-horizontal);
			background-color: var(--card-sectionning-background-color);

			margin-top: var(--block-spacing-vertical);
			margin-bottom: calc(var(--block-spacing-vertical) * -1);
			margin-right: calc(var(--block-spacing-horizontal) * -1);
			margin-left: calc(var(--block-spacing-horizontal) * -1);

			@include cluster($spacing * 0.5);
			justify-content: flex-end;
		}


		main {
			min-height: 12rem;
			--border-color: var(--muted-color);
			border: var(--border-width) solid var(--border-color);
			border-radius: var(--border-radius);
			padding: var(--spacing) var(--form-element-spacing-horizontal);
		}
	}

	button {
		@extend .rhino-button;
	}
}

.editor {
	background: #f6f6f6;
	color: #333;
	border-radius: $border-radius;
	padding: $spacing $spacing $spacing $spacing * 4;
}