@use "settings" as *;
@use "shapes";

@use 'partials/root' with ($prefix: --tusk-);
@forward 'components/modal';
@forward 'partials/input';
// @use 'partials/common';
// @use 'partials/input';
// @use 'partials/tables';

$menu-size: 2rem;

body {
	// padding-left: 300px;
	padding-top: $menu-size;
}

.layout-menu {
	background-color: grey;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	height: $menu-size;
	// width: 300px;

	&__button {
		display: inline-block;
		background-color: var(--tusk-primary-color);
		color: var(--tusk-contrast-color);
		font-weight: 800;
		text-decoration: none;
		border: none;
		padding: 0 var(--tusk-margin-400);
		
		&:focus, &:hover {
			background-color: var(--tusk-primary-color-500);
		}

		& + * {
			margin-left: auto;
		}
	}
}

.layout-element {
	position: relative;
	border: solid 4px transparent;
	margin-top: -4px;
	margin-bottom: -4px;
	transition: 150ms border-color;
	
	&:hover, &:focus-within { 
		border: solid 4px var(--tusk-primary-color);
	
		.layout-handle {
			opacity: 1;
		}
	}
}

.layout-handle {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 1rem;
	transition: 150ms opacity;
	display: flex;
}

.tusk-button {
	display: inline-block;
	background-color: var(--tusk-primary-color);
	color: var(--tusk-contrast-color);
	font-weight: 800;
	text-decoration: none;
	border: none;
	padding: var(--tusk-margin-200) var(--tusk-margin-400);
	
	&:focus, &:hover {
		background-color: var(--tusk-primary-color-500);
	}
}

.modal-form {
	fieldset {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border: none;
	}

	.input {
		display: flex;
		flex-direction: column;
		min-width: 12ex;
		width: 100%;
	}
	
	input[type='text'], input[type='number'], select, textarea {
		color: var(--tusk-text-color);
		padding: var(--tusk-margin-200);
		box-shadow: 0 0 2rem #ddd;
		border-radius: 0.5rem;
		border-radius: var(--tusk-border-radius);
		border: none;
	}

	input[type='checkbox'] {
		width: 1em;
		height: 1em;
		accent-color: var(--tusk-primary-color);
		margin-right: 0.5rem;
	}
}
