/**
 * _settings.scss
 *
 * Use Sass variables and custom properties as appropriate, both are possible
 */

@use 'sass:map';

/**********
 * Colors *
 **********/

// $colors: (
// 	primary: #4ADCB1,
// 	secondary: #89a4ef,
// 	background: #837c7c,
// 	contrast: #F9F9F9, // color-for-bg(var(--primary-color), var(--background-color), $text-color)
// 	text: #0c0e26 // #333
// );

$shades: (
	100: 55%,
	200: 25%,
	300: 10%,
	400: 0%,
	500: 10%,
	600: 20%,
	700: 30%,
	800: 40%,
	900: 60%,
);

$border: (
	width: 2px,
	radius: 0.5rem,
	color: currentColor,
	type: solid,
);

/********
 * Typo *
 ********/

$use-type-scale: true;
$vertical-unit: 1.55rem;
$modular-scale-ratio: 1.125;

$font-sizes: (
	100: 0.5,
	200: 0.8,
	400: 1,
	500: 1.2,
	600: 1.4,
	700: 1.75,
	800: 2.1,
	900: 3.8,
);


/************
 * Measures *
 ************/
$min-header-height: 5rem;
$max-header-height: 6.5rem;

$inner-bound-width: 52rem;
$outer-bound-width: 64rem;

$min-supported-screen-width: 320px;
$max-supported-screen-width: 3440px;

$gutter: 1rem;

$margins: (
	100: $gutter * 0.25,
	200: $gutter * 0.5,
	300: $gutter,
	400: $gutter * 2,
	500: $gutter * 4,
	600: $gutter * 6,
	700: $gutter * 8,
	800: $gutter * 10,
	900: $gutter * 14,
);

/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid: false;
$font-path: '/dist/fonts/';

$full-width-fix: true; // body-text in full-width containers aligns with outer-bound
$collapsable-header: true; // header collapses on scroll-down
$substract-header-height: false; // subtracts header height from screen-heighht
$fade-in-transition: false; // fade in elements when page has loaded
$loader: 'spinner'; // loading screen type [spinner, dots, bars]
$start-dark-background: false; // sets the color for header and hero to contrast-color
$nav-style: 'default'; // sets the style for the navbar [default, folding]

/*****************
 *  Breakpoints  *
 *****************/
$tablet-portrait-breakpoint: 600px !default;
$tablet-landscape-breakpoint: 900px !default;
$desktop-breakpoint: 1200px !default;
$big-desktop-breakpoint: 1800px !default;
$huge-desktop-breakpoint: 2400px !default;
// ... extend as needed

$breakpoints: (
	phone: 320px,
	tablet-portrait: 600px,
	tablet-landscape: 900px,
	desktop: 1200px,
	desktop-big: 1800px,
	desktop-huge: 2400px,
);