/**
 * src/css/libhalma/_libhalma.scss
 *
 * Libhalma: A simple, solid and accessible basic library for css
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2020-11-09
 */

@use 'settings';
@use 'sass:map';

// Edit as needed

@forward"shapes/lib/classes";

@forward"shapes/lib/fluid-type";

@forward"shapes/lib/media-object";

@forward"shapes/lib/type-setting" with (
	$use-type-scale: settings.$use-type-scale,
	$vertical-unit: settings.$vertical-unit,
	$modular-scale-ratio: settings.$modular-scale-ratio,
	$font-sizes: settings.$font-sizes
);

@forward"shapes/lib/rwd" with (
	$breakpoints: settings.$breakpoints
);

@forward"shapes/lib/utils";

@forward"shapes/lib/button" with (
  $color: var(--rhino-contrast-color),
  $background-color: var(--rhino-primary-color),
  $padding: var(--rhino-margin-100) var(--rhino-margin-300),
  $border-radius: calc(var(--rhino-border-radius) * 0.5),
  $border-width: var(--rhino-border-width),
  $border-color: var(--rhino-primary-color),
  $border-color-hover: var(--rhino-primary-color),
  $background-color-hover: transparent
);

@forward"shapes/lib/box" with (
  $box-color: var(--rhino-text-color),
  $box-background: var(--rhino-background-color),
  $box-padding: settings.$gutter * 2,
  $box-border-color: none,
  $box-border-width: 0,
  $box-border-radius: var(--rhino-border-radius)
);

@forward"shapes/lib/stack" with ($stack-spacing: var(--rhino-margin-400));

@forward"shapes/lib/center";

@forward"shapes/lib/cluster";

@forward"shapes/lib/cover";

@forward"shapes/lib/icon";
