/**
 * src/css/libhalma/_libhalma.scss
 *
 * Libhalma: A simple, solid and accessible basic library for css
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2020-11-09
 */

@use 'settings';

// Edit as needed

@forward"shapes/lib/classes";

@forward"shapes/lib/fluid-type";

@forward"shapes/lib/media-object";

@forward"shapes/lib/type-setting" with (
	$use-type-scale: settings.$use-type-scale,
	$vertical-unit: settings.$vertical-unit,
	$modular-scale-ratio: settings.$modular-scale-ratio,
	$font-sizes: settings.$font-sizes
);

@forward"shapes/lib/rwd" with (
	$breakpoints: settings.$breakpoints
);

@forward"shapes/lib/utils";

@forward"shapes/lib/button" with (
  $color: var(--background-color),
  $background-color: var(--primary-color),
  $padding: settings.$gutter,
  $border-radius: var(--border-radius),
  $border-width: var(--border-width),
  $border-color: var(--primary-color),
  $border-color-hover: var(--primary-color),
	$background-color-hover: transparent
);

@forward"shapes/lib/box" with (
  $box-color: var(--contrast-color),
  $box-background: var(--background-color),
  $box-padding: settings.$gutter,
  $box-border-color: var(--primary-color),
  $box-border-width: 0, //settings.$border-width,
  $box-border-radius: 0
);

@forward"shapes/lib/stack" with ($stack-spacing: var(--margin-400));

@forward"shapes/lib/center";

@forward"shapes/lib/cluster";

@forward"shapes/lib/cover";

@forward"shapes/lib/icon";
