@use 'settings' as *;
@use "shapes" as *;

body {
	display: grid;
	grid-template-columns: 100%;
}

.frame {
	display: flex;

	&__sidebar {
		flex: 0 0 auto;	
		display: flex;
		background-color: var(--tusk-contrast-color-400);
		flex-direction: column;
		gap: 2rem;
		box-shadow: 0px 3px 6px #00000029;
		max-height: 100vh;
		min-width: 19rem;
		
		position: relative;
		z-index: 800;
		overflow-y: auto;
		overflow-x: hidden;

		.logo {
			display: flex;
			justify-content: center;
			margin: 3rem 3rem;
			margin-bottom: 0;
			height: 12rem;

			svg {
				margin: auto;
				width: 12rem;
				height: auto;
			}
		}

		& > *:last-child {
			margin-top: auto;
			margin-bottom: 1rem;
		}
	}

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		overflow: auto;
		max-height: 100vh;
		position: relative;
	}

}

.nav-block {
	$padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&__label {
		padding: 0 $padding;
		font-weight: 600;
		@include type-setting(300);
		color: var(--tusk-background-color-300);
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
	}
	
	&__item {
		a, summary {
			background-color: transparent;
			border-color: transparent;
			color: var(--tusk-text-color);
			width: 100%;
			padding: 0.75rem $padding;
			
			line-height: 1;
			font-weight: 600;
			
			&[aria-current]:hover {
				color: var(--tusk-text-color);
			}

			&:hover {
				border-color: transparent;
			}
		}

		a[aria-current] {
			background-color: var(--tusk-primary-color);
			color: var(--tusk-contrast-color);
		}
		
		summary[aria-current] {
			background-color: var(--tusk-primary-color-200);
		}

		summary::after {
			content: "▼";
			display: block;
			margin-left: auto;
			align-self: center;
			font-size: 0.7em;
		}

		details[open] {
			ul {
				border-left: solid var(--tusk-primary-color-200) 1rem;
				list-style: none;
			}

			li::marker {
				color: transparent;
			}

			summary {
				background-color: var(--tusk-primary-color-200);
				color: var(--tusk-text-color);
			
				&::after {
					transform: rotate(180deg);
				}
			}
		}

		.button {
			border-radius: 0;
		}

		.button--icon {
			display: inline-flex;
			flex-direction: row;
			align-items: flex-end;
			gap: 0.75em;

			svg {
				height: 1.2em;
				width: auto;
				margin-top: 0.2%;
				margin-bottom: -0.2%;
			}
		}
	}
}