.login {
	background-color: var(--tusk-background-color);
	grid-template-rows: 0 auto;

	.main-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.login-logo svg {
		width: 100%;
		height: auto;
	}
}