/**
* partials/_common.scss
*
* Common styles, like e.g. resets, basic styles...
*/

@use "settings" as *;
@use "shapes";


html {
  scroll-behavior: smooth;
//   @include shapes.scrollbars(var(--rhno-primary-color), var(--rhno-secondary-color), 1rem);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.main-content {
	flex: 1;
	width: 100%;

	& > *:first-of-type > *:first-child:not(.full-width) {
		margin-top:  var(--rhno-header-height);
		padding-top: var(--rhno-margin-400);
	}
	
	h1, h2, h3, h4, h5, h6 {
		& + .body-text {
			margin-top: var(--rhno-margin-200);
		}
	}
}

.hidden {
	display: none;
}

.box {
  @include shapes.box(
	$color: var(--rhno-contrast-color)
  );
}

.box--inverted, .box--alt {
	@include shapes.box(
		$color: var(--rhno-text-color),
		$background: var(--rhno-contrast-color),
		$border-color: var(--rhno-background-color)
	);
}

.inverted {
	--primary-color: #{color('secondary')};
	--secondary-color: #{color('primary')};
	--background-color: #{color('contrast')};
	--text-color: #{color('background')};
	--contrast-color: #{color('text')};
}

.cluster {
  @include shapes.cluster;
}

.cluster--even > * {
	flex: 0px 1 1;
}

.cluster--none, .cluster--0 {
	@include shapes.cluster(0);
}

.cluster--100 {
  @include shapes.cluster(var(--rhno-margin-100));
}

.cluster--200 {
  @include shapes.cluster(var(--rhno-margin-200));
}

.cluster--600 {
  @include shapes.cluster(var(--rhno-margin-200));
}

.cluster-end {
  justify-content: flex-end;
}

.center {
  @include shapes.center;
}

.stack {
  @include shapes.stack;
}

.stack--200 {
  @include shapes.stack(var(--rhno-margin-200));
}

.stack--300 {
  @include shapes.stack(var(--rhno-margin-300));
}

.stack--600 {
  @include shapes.stack(var(--rhno-margin-600));
}

.icon {
	display: inline-block;
	height: 100%;
	
	svg {
		display: inline-block;
		height: 100%;
		width: auto;
		vertical-align: text-top;

		margin: 1px;
		overflow: visible;
	}
}

.with-icon {
  @include shapes.with-icon($gutter * 0.5);
}

.cover {
	object-position: center;
	object-fit: cover;
	height: 100%;
}

.sr-only {
  @include shapes.sr-only(true);
}

.outer-bound {
  @include shapes.bound(var(--rhno-outer-bound-width), var(--rhno-outer-bound));
}

.inner-bound {
  @include shapes.bound(var(--rhno-inner-bound-width), var(--rhno-outer-bound));
}

.full-width {
  @include shapes.full-width(var(--rhno-scrollbarWidth));
}

.list-style-none {
	@include shapes.list-style-none;
}

img {
	width: 100%;
}

.background {
	background-color: var(--rhno-background-color);
	color: var(--rhno-contrast-color);
}

