@use "settings" as *;
@use "shapes";

@mixin padding {
	--form-element-spacing-vertical: 0.25em;
	--form-element-spacing-horizontal: 0.25em;
	padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

a, button, input, select, textarea {
	font: inherit;
	cursor: pointer;
	color: inherit;

	&:focus {
		outline: none;
	}
}

[disabled] {
	opacity: 0.6;
	pointer-events: none;
	cursor: default;
}

input[type=text], textarea {
	cursor: text;
}

input, textarea, select, input[type=file], input[input] {
	background-color: var(--rhno-contrast-color);
	color: var(--rhno-text-color);
	border: var(--rhno-border-width) var(--rhno-border-type) var(--rhno-border-color);
	border-radius: var(--rhno-border-radius);
	@include shapes.type-setting(400);
	@include padding;

	&[readonly] {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

input[type=checkbox] {
	width: auto;
	display: inline-block;
}

label {
	font-weight: 600;
}

.input {
	display: flex;
	flex-direction: column;
	min-width: 32ex;
	width: fit-content;
	align-items: flex-start;
	gap: 0.25rem;
}

.checkbox {
	// display: flex;
	// gap: var(--rhno-margin-200);

	label {
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			margin-right: var(--rhno-margin-200);
		}
	}
	
}

.button, button {
	@include shapes.button;
	font-weight: 600;
}

.button-reset {
	@include shapes.button-reset;
}

.icon-button {
	// @include shapes.button-reset;
	height: 2.7em;
	display: flex;
	gap: var(--rhno-margin-200);
	justify-content: center;
	align-items: center;

	* {
		display: inline-block;
	}
}

.alt-button {
	@include shapes.button(
		$background-color: var(--rhno-secondary-color),
		$border-color: var(--rhno-secondary-color),
		$color-hover: var(--rhno-secondary-color),
		$border-color-hover: var(--rhno-secondary-color)
	);

	font-weight: 600;
}

.button-container a {
	@extend .button;
}

.alt-button-container a {
	@extend .alt-button;
}

// Link
.body-text a {
	color: var(--rhno-primary-color);
	font-weight: 600;

	&:hover, &:focus {
		color: var(--rhno-primary-color-500);
	}

	&:focus {
		outline: 2px solid var(--rhno-primary-color-500);
		outline-offset: 2px;
	}

	&:active {
		color: var(--rhno-primary-color-800);
	}
}

.skip-link {
	@include shapes.skip-link;
}

.editor {
	box-shadow: 0 0 2rem #ddd;
	border-radius: var(--rhno-rhno-border-radius);
	padding: var(--rhno-rhno-margin-200) var(--rhno-rhno-margin-500);
	min-height: 300px;

	.codex-editor {
		height: 100%;
	}
}