.footer {
	background-color: var(--muted-border-color);
	$offset: 1.2rem;
	// box-shadow: inset 0 $offset $offset $offset*-1 rgba(0, 0, 0, 0.4);
	border-top: var(--outline-width) var(--muted-color) solid;
	margin-top: var(--typography-spacing-vertical);
}

.pill {
	display: flex;
	gap: var(--spacing-200);
	width: fit-content;
	
	:first-child:not(:only-child) {
		// outline: 4px pink solid;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	
	:last-child:not(:only-child) {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
	
	*:not(:only-child):not(:last-child):not(:first-child) {
		border-radius: 0 !important;
	}

	* {
		word-break: keep-all;
		white-space: nowrap;
	}
}

.section-header {
	padding: var(--spacing-200) 0;
	margin: var(--spacing) 0;
	border-bottom: var(--color) var(--outline-width) solid;
}

table .button {
	margin-bottom: 0;
}