.file-select {
	--border-color: var(--muted-color);
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--spacing) var(--form-element-spacing-horizontal);

	details {
		border: none;
		margin: 0;
		padding: 0;
	}

	summary::after {
		display: none;
	}

	li {
		margin-left: 2rem;
		position: relative;
	}

	li + li {
		margin-top: calc(var(--typography-spacing-vertical) * 0.25);
	}

	li > details > summary, li > svg {
		position: absolute;
		left: -1rem;
		top: 0.75rem;
		transform: translateX(-100%);
	}

	svg path {
		stroke: currentColor !important;
	}

	ul, li {
		list-style: none;
		margin-bottom: 0;
	}
	
	label {
		border: var(--border-width) solid var(--primary);
		border-radius: var(--border-radius);
		@extend .button;
		display: inline-block;
		margin-bottom: 0;
		text-align: left;
		--background-color: transparent;
		--color: var(--primary);
	
		&:is([aria-current], :hover, :active, :focus) {
			--background-color: transparent;
			--color: var(--primary-hover);
		}
	}
		
	input[type=radio] {
		display: none;
	}

	input[type=radio]:checked + label {
		background-color: var(--primary);
		color: var(--primary-inverse);
	}

	input[type=radio]:disabled + label {
		color: var(--text-color);
		border-color: var(--text-color);
	}
}