@charset "UTF-8";
/**
 * home/jbraun/Sites/halma-kickstart/src/css/libhalma/_reset.scss
 *
 * inspired by https://hankchizljaw.com/wrote/a-modern-css-reset/
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2020-11-09
 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.35;
  text-rendering: optimizeSpeed;
}

main {
  text-rendering: optimizeLegibility;
}

img, picture, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

ol, ul {
  list-style: none;
  counter-reset: li;
}
ol > li, ul > li {
  position: relative;
  padding-left: 2ch;
}
ol > li::before, ul > li::before {
  position: absolute;
  left: 0;
}

ol > li::before {
  content: counter(li) ".";
  counter-increment: li;
}

ul > li::before {
  content: var(--bullet-list-char, "•");
}

input, button, textarea, select {
  font: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * _settings.scss
 *
 * Use Sass variables and custom properties as appropriate, both are possible
 */
/**********
 * Colors *
 **********/
/********
 * Typo *
 ********/
/************
 * Measures *
 ************/
/********************
 * Options/Switches *
 ********************/
/*****************
 *  Breakpoints  *
 *****************/
/**
 * src/css/libhalma/_classes.scss
 *
 * Predefined utility classes
 *
 * @author C.Coull <c.coull@agentur-halma.de>
 * @author J. Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2021-05-27
 */
/**
 * src/css/libhalma/media-object.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2021-05-31
 */
/**
 * src/css/libhalma/_vertical_rhythm.scss
 *
 * @author Carsten Coull <c.coull@agentur-halma.de>
 * @package libhalma
 */
body {
  position: relative;
}

.debug-base-line-grid {
  background-image: linear-gradient(to bottom, transparent 0, transparent calc(2rem), rgba(255, 99, 71, 0.1) calc(2rem), rgba(255, 99, 71, 0.1));
  background-size: 100% 4rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 32766;
  top: -16px;
}

/**
 * libhalma/_rwd.scss
 *
 * Breakpoints, media queries, responsive webdesign
 * See: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
 *
 * @usage: @include for-size(tablet-landscape-up) { ... }
 *				 Use a pre devined size from $breakpoints with added '-up' or '-down' for direction.
 *
 * 				 @include for-size(1200px, up) { ... }
 *				 If second parameter is 'up' or 'down' it will be used as direction and a custom size can be used.
 *
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>, Carsten Coull <c.coull@agebtur-halma.de>
 * @package libhalma
 */
/**
 * src/css/mixins/_utils.scss
 *
 * Utility mixins and functions
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 */
/**
 * strip-unit
 *
 * Returns the unitless number
 * From: https://css-tricks.com/snippets/sass/strip-unit-function/
 *
 * @param number
 * @return number
 */
/**
 * pow
 *
 * Return the number risen to the power of n
 * From: https://css-tricks.com/snippets/sass/power-function/
 *
 * @param number 	The operator
 * @param exp 		The exponent
 * @return number
 */
/**
 * Calculates the sRGB luma of a colour.
 *
 * From: https://lnikki.la/articles/sass-better-colour-based-on-brightness/
 *
 * Math nicked from a great Thoughtbot article by Reda Lemeden:
 * http://robots.thoughtbot.com/closer-look-color-lightness
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * From: https://lnikki.la/articles/sass-better-colour-based-on-brightness/
 *
 * Usage: color-for-bg($bg-color, $color-1, $color-2)
 */
/*
 * @author Carsten Coull <c.coull@agentur-halma.de>
 *
 * Slope Utilits
 * sets a Graph to use for unit
 *
 * Needs a calc support
 */
/*
 * for fluid type to fit to screen;
 */
/*
 * Sets a fluid Unit between to Values
 *
 * $min-size: Minimum Value
 * $max-size: Maximum Value
 * $min-view: Size at which to use $min-size
 * $max-view: Size at which to use $max-size
 *
 * works best with px Unit
 */
/* Can be used with Custom Proporties */
/**
 * _ui.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 */
/**
 * Reset button
 * See: https://fvsch.com/styling-buttons/
 */
/**
 * The Stack
 *
 * Spacing for vertically stacked blocks
 */
/**
 * From: EveryLayout
 */
/**
 * The Cluster
 *
 * https://every-layout.dev/demos/cluster-ctas/
 *
 * We can use `gap` now on flexbox items, so it gets really easy now :-)
 */
/**
 * src/css/libhalma/_libhalma.scss
 *
 * Libhalma: A simple, solid and accessible basic library for css
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package libhalma
 * @version 2020-11-09
 */
/**
 * src/css/partials/_typography.scss
 *
 * Typography related styles
 *
 */
/************
 * Webfonts *
 ************/
/**
 * @example
 *
 * @include font-face('FontName', '../fonts/FontName-Regular', normal, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Bold', bold, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Italic', normal, italic, $file-types: woff2);
 */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: clamp(0.85rem, (100vw * 0.0035) - -0.78rem, 1.2rem);
}

body {
  font-size: 1rem;
  line-height: 2em;
  margin-bottom: 0rem;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.headline--big, h1 {
  font-size: 1.8020324707rem;
  line-height: 1.1098579146em;
  margin-bottom: 0rem;
  font-weight: 900;
}

.headline--default, h2 {
  font-size: 1.6018066406rem;
  line-height: 1.2485901539em;
  margin-bottom: 0rem;
  font-weight: 800;
}

.headline--small, h3 {
  font-size: 1.265625rem;
  line-height: 1.5802469136em;
  margin-bottom: 0rem;
}

.headline, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  letter-spacing: -0.02em;
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media (min-width: 900px) {
  .headline, h1, h2, h3, h4, h5, h6 {
    -webkit-hyphens: manual;
            hyphens: manual;
  }
}

.body-text h1, .body-text h2, .body-text h3, .body-text h4, .body-text h5, .body-text h6 {
  margin-bottom: var(--vertical-unit);
}
.body-text p {
  margin-bottom: 0;
}

.small {
  font-size: 0.7901234568rem;
  line-height: 2.53125em;
  margin-bottom: 0rem;
}

/**
* partials/_common.scss
*
* Common styles, like e.g. resets, basic styles...
*/
:root {
  --primary-color: #ac3e3e;
  --primary-color-200: #d17f7f;
  --primary-color-300: #c35a5a;
  --primary-color-400: #ac3e3e;
  --primary-color-500: #873030;
  --primary-color-600: #612323;
  --primary-color-700: #3c1515;
  --primary-color-800: #160808;
  --primary-color-900: black;
  --secondary-color: #5a74bd;
  --secondary-color-200: #a3b1da;
  --secondary-color-300: #7e93cc;
  --secondary-color-400: #5a74bd;
  --secondary-color-500: #415ba3;
  --secondary-color-600: #33467e;
  --secondary-color-700: #24325a;
  --secondary-color-800: #151e36;
  --secondary-color-900: black;
  --background-color: #ae1717;
  --background-color-200: #e64545;
  --background-color-300: #db1d1d;
  --background-color-400: #ae1717;
  --background-color-500: #811111;
  --background-color-600: #540b0b;
  --background-color-700: #270505;
  --background-color-800: black;
  --background-color-900: black;
  --contrast-color: #fff;
  --contrast-color-200: white;
  --contrast-color-300: white;
  --contrast-color-400: #fff;
  --contrast-color-500: #e6e6e6;
  --contrast-color-600: #cccccc;
  --contrast-color-700: #b3b3b3;
  --contrast-color-800: #999999;
  --contrast-color-900: #666666;
  --text-color: #333;
  --text-color-200: #666666;
  --text-color-300: #4d4d4d;
  --text-color-400: #333;
  --text-color-500: #1a1a1a;
  --text-color-600: black;
  --text-color-700: black;
  --text-color-800: black;
  --text-color-900: black;
  --margin-200: 0.5rem;
  --margin-300: 1rem;
  --margin-400: 2rem;
  --margin-500: 4rem;
  --margin-600: 6rem;
  --margin-800: 9rem;
  --margin-900: 12rem;
  --border-width: 2px;
  --border-radius: 4px;
  --border-color: currentColor;
  --border-type: solid;
  --border: var(--border-color) var(--border-width) var(--border-type) var(--border-radius);
  --gutter: 1rem;
  --vertical-unit: 2rem;
  --outer-bound: 2rem;
  --inner-bound-width: 58rem;
  --outer-bound-width: 78rem;
  --header-height: clamp(5rem, (100vw * 0.0076923077) - -4.8461538462rem, 6.5rem);
  --screen-height: 100vh;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-color) var(--background-color);
}
html::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
html::-webkit-scrollbar-track {
  background: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.main-content {
  flex: 1;
  width: 100%;
}
.main-content h1 + .body-text, .main-content h2 + .body-text, .main-content h3 + .body-text, .main-content h4 + .body-text, .main-content h5 + .body-text, .main-content h6 + .body-text {
  margin-top: var(--margin-200);
}

.main-content > * {
  transition-duration: 750ms;
  transition-timing-function: ease-out, linear;
  transition-property: transform, opacity;
}

body:not(.page-has-loaded):not(.cmt-layout) .main-content > * {
  transform: translateY(20vh);
  opacity: 0;
}

.margin--200 {
  margin-bottom: var(--margin-200);
}

.margin-bottom--200 {
  margin-bottom: var(--margin-200);
}

.margin-top--200 {
  margin-top: var(--margin-200);
}

.gap--200 {
  gap: var(--margin-200);
}

.margin--300 {
  margin-bottom: var(--margin-300);
}

.margin-bottom--300 {
  margin-bottom: var(--margin-300);
}

.margin-top--300 {
  margin-top: var(--margin-300);
}

.gap--300 {
  gap: var(--margin-300);
}

.margin--400 {
  margin-bottom: var(--margin-400);
}

.margin-bottom--400 {
  margin-bottom: var(--margin-400);
}

.margin-top--400 {
  margin-top: var(--margin-400);
}

.gap--400 {
  gap: var(--margin-400);
}

.margin--500 {
  margin-bottom: var(--margin-500);
}

.margin-bottom--500 {
  margin-bottom: var(--margin-500);
}

.margin-top--500 {
  margin-top: var(--margin-500);
}

.gap--500 {
  gap: var(--margin-500);
}

.margin--600 {
  margin-bottom: var(--margin-600);
}

.margin-bottom--600 {
  margin-bottom: var(--margin-600);
}

.margin-top--600 {
  margin-top: var(--margin-600);
}

.gap--600 {
  gap: var(--margin-600);
}

.margin--800 {
  margin-bottom: var(--margin-800);
}

.margin-bottom--800 {
  margin-bottom: var(--margin-800);
}

.margin-top--800 {
  margin-top: var(--margin-800);
}

.gap--800 {
  gap: var(--margin-800);
}

.margin--900 {
  margin-bottom: var(--margin-900);
}

.margin-bottom--900 {
  margin-bottom: var(--margin-900);
}

.margin-top--900 {
  margin-top: var(--margin-900);
}

.gap--900 {
  gap: var(--margin-900);
}

.box {
  /* ↓ Padding set to the first point on the modular scale */
  padding: 1rem;
  border: 0 var(--primary-color) solid;
  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: 0 transparent;
  outline-offset: calc(0 * -1);
  color: var(--contrast-color);
  background-color: var(--background-color);
  border-radius: 0;
}
.box * {
  /* ↓ Force colors to inherit from the parent
  and honor inversion (below) */
  color: inherit;
}

.box--inverted {
  /* ↓ Padding set to the first point on the modular scale */
  padding: 1rem;
  border: 0 #ae1717 solid;
  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: 0 transparent;
  outline-offset: calc(0 * -1);
  color: #ae1717;
  background-color: #5a74bd;
  border-radius: 0;
}
.box--inverted * {
  /* ↓ Force colors to inherit from the parent
  and honor inversion (below) */
  color: inherit;
}

.inverted {
  --primary-color: #5a74bd;
  --secondary-color: #ac3e3e;
  --background-color: #fff;
  --text-color: #ae1717;
  --contrast-color: #333;
}

.cluster {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cluster-end {
  justify-content: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack > * + * {
  margin-top: var(--margin-400);
}

.icon {
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  /* ↓ Override the em value with `1cap`  where `cap` is supported */
  height: 1cap;
  width: 1cap;
  overflow: visible;
  vertical-align: -0.01em;
}
.icon svg {
  fill: currentColor !important;
  stroke: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.with-icon {
  /* ↓ Set the `inline-flex` context,  which eliminates the word space */
  display: inline-flex;
  align-items: center;
  gap: var(--space, 0.5rem);
}

.cover {
  object-position: center;
  object-fit: cover;
  height: 100%;
}

.sr-only {
  display: inline-block;
  opacity: 0;
  background: none;
  position: absolute;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  width: 2px;
  height: 2px;
  margin: -1px;
}
.sr-only:focus, .sr-only:active {
  opacity: 1;
  font-size: inherit;
  line-height: inherit;
  width: auto;
  width: max-content;
  height: auto;
  height: max-content;
  margin: 0;
  z-index: 1;
}

.outer-bound {
  box-sizing: content-box;
  max-width: var(--outer-bound-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.inner-bound {
  box-sizing: content-box;
  max-width: var(--inner-bound-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin: 2rem auto;
}

.full-width {
  --half-screen-width: calc((100vw - var(--scrollbarWidth)) / 2);
  margin-left: calc(50% - var(--half-screen-width));
  margin-right: calc(50% - var(--half-screen-width));
}

.list-style-none {
  list-style: none;
}
.list-style-none li {
  position: static;
  padding: 0;
}
.list-style-none li::before {
  content: none;
  display: none;
}

img {
  width: 100%;
}

.background {
  background-color: var(--background-color);
  color: var(--contrast-color);
}

a, button, input, select, textarea {
  font: inherit;
  cursor: pointer;
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

input {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: 1rem;
  line-height: 2em;
  margin-bottom: 0rem;
  padding: 0.25em 0.5em;
}

.icon-button {
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  /* ↓ Override the em value with `1cap`  where `cap` is supported */
  height: 1cap;
  width: 1cap;
  overflow: visible;
  vertical-align: -0.01em;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.icon-button svg {
  fill: currentColor !important;
  stroke: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.button, .button-container a {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--background-color);
  background-color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--primary-color);
  border-radius: var(--border-radius);
  outline: none;
  display: inline-flex;
  align-items: baseline;
  font-weight: 600;
}
.button::-moz-focus-inner, .button-container a::-moz-focus-inner {
  border: none;
}
.button:active, .button-container a:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.button:hover, .button-container a:hover, .button:focus, .button-container a:focus {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.button > span + span, .button-container a > span + span {
  margin-left: 0.5ch;
}

.alt-button, .alt-button-container a {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: var(--border-radius);
  outline: none;
  display: inline-flex;
  align-items: baseline;
  font-weight: 600;
}
.alt-button::-moz-focus-inner, .alt-button-container a::-moz-focus-inner {
  border: none;
}
.alt-button:active, .alt-button-container a:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.alt-button:hover, .alt-button-container a:hover, .alt-button:focus, .alt-button-container a:focus {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.alt-button > span + span, .alt-button-container a > span + span {
  margin-left: 0.5ch;
}

.body-text a {
  color: var(--primary-color);
  font-weight: 600;
}
.body-text a:hover, .body-text a:focus {
  color: var(--primary-color-500);
}
.body-text a:focus {
  outline: 2px solid var(--primary-color-500);
  outline-offset: 2px;
}
.body-text a:active {
  color: var(--primary-color-800);
}

.skip-link {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 50%;
  transform: translate(-50%, -200%);
  transition: transform 300ms ease-in-out;
}
.skip-link:focus {
  transform: translate(-50%, 0%);
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-left: 0;
  padding-right: 0;
  transition: transform 350ms ease-in-out, background 350ms ease-in-out;
}
.main-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home:focus {
  filter: brightness(0.8);
}

.logo {
  height: calc(var(--header-height) - 2rem);
  display: inline-flex;
  justify-content: center;
  gap: var(--margin-200);
}
.logo svg {
  height: 100%;
  width: auto;
}
.logo span {
  display: inline-block;
  font: inherit;
  font-size: calc(var(--header-height) - 2rem);
  line-height: 1;
  text-decoration: none;
  font-weight: 900;
}

.start .main-header {
  position: fixed;
  left: 0;
  width: 100%;
  --header-background: transparent;
  color: var(--text-color);
  background-color: var(--header-background);
}

.mobile-nav-is-open .main-header {
  --header-background: #ae1717;
  --text-color: #fff;
}

.has-scrolled-past-header .main-header {
  --header-background: #ae1717;
  --text-color: #fff;
}
.has-scrolled-past-header.has-scrolled-down:not(.mobile-nav-is-open) .main-header {
  transform: translateY(-100%);
}

.main-footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--margin-400);
  padding-bottom: var(--margin-400);
}
.main-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--margin-400);
}

#cmt-content .main-header {
  position: static;
}
#cmt-content .cmt-object + .cmt-object {
  margin-top: var(--margin-600);
}
#cmt-content .loading-screen {
  display: none;
}

body:not(.cmt-layout) .element-margin--none + * {
  margin-top: 0 !important;
}
body:not(.cmt-layout) .element-margin--small.background {
  padding-bottom: var(--margin-400);
}
body:not(.cmt-layout) .element-margin--small.background + *:not(.background) {
  padding-top: var(--margin-400);
}
body:not(.cmt-layout) .element-margin--small.background + .background {
  padding-top: var(--margin-400);
  margin-top: calc(var(--margin-400) * -1) !important;
}
body:not(.cmt-layout) .element-margin--small:not(.background) + *.background {
  margin-top: var(--margin-400);
  padding-top: var(--margin-400);
}
body:not(.cmt-layout) .element-margin--small:not(.background) + *:not(.background) {
  margin-top: var(--margin-400);
}
body:not(.cmt-layout) .element-margin--default.background {
  padding-bottom: var(--margin-500);
}
body:not(.cmt-layout) .element-margin--default.background + *:not(.background) {
  padding-top: var(--margin-500);
}
body:not(.cmt-layout) .element-margin--default.background + .background {
  padding-top: var(--margin-500);
  margin-top: calc(var(--margin-500) * -1) !important;
}
body:not(.cmt-layout) .element-margin--default:not(.background) + *.background {
  margin-top: var(--margin-500);
  padding-top: var(--margin-500);
}
body:not(.cmt-layout) .element-margin--default:not(.background) + *:not(.background) {
  margin-top: var(--margin-500);
}
body:not(.cmt-layout) .element-margin--medium.background {
  padding-bottom: var(--margin-600);
}
body:not(.cmt-layout) .element-margin--medium.background + *:not(.background) {
  padding-top: var(--margin-600);
}
body:not(.cmt-layout) .element-margin--medium.background + .background {
  padding-top: var(--margin-600);
  margin-top: calc(var(--margin-600) * -1) !important;
}
body:not(.cmt-layout) .element-margin--medium:not(.background) + *.background {
  margin-top: var(--margin-600);
  padding-top: var(--margin-600);
}
body:not(.cmt-layout) .element-margin--medium:not(.background) + *:not(.background) {
  margin-top: var(--margin-600);
}
body:not(.cmt-layout) .element-margin--large.background {
  padding-bottom: var(--margin-800);
}
body:not(.cmt-layout) .element-margin--large.background + *:not(.background) {
  padding-top: var(--margin-800);
}
body:not(.cmt-layout) .element-margin--large.background + .background {
  padding-top: var(--margin-800);
  margin-top: calc(var(--margin-800) * -1) !important;
}
body:not(.cmt-layout) .element-margin--large:not(.background) + *.background {
  margin-top: var(--margin-800);
  padding-top: var(--margin-800);
}
body:not(.cmt-layout) .element-margin--large:not(.background) + *:not(.background) {
  margin-top: var(--margin-800);
}
body:not(.cmt-layout) .element-margin--huge.background {
  padding-bottom: var(--margin-900);
}
body:not(.cmt-layout) .element-margin--huge.background + *:not(.background) {
  padding-top: var(--margin-900);
}
body:not(.cmt-layout) .element-margin--huge.background + .background {
  padding-top: var(--margin-900);
  margin-top: calc(var(--margin-900) * -1) !important;
}
body:not(.cmt-layout) .element-margin--huge:not(.background) + *.background {
  margin-top: var(--margin-900);
  padding-top: var(--margin-900);
}
body:not(.cmt-layout) .element-margin--huge:not(.background) + *:not(.background) {
  margin-top: var(--margin-900);
}
body:not(.cmt-layout) #main .element-margin--default.element-headline + *[class~=element] {
  padding-top: var(--vertical-unit);
  margin-top: 0;
}
body:not(.cmt-layout) #main .element-margin--default.element-paragraph + .element-paragraph {
  padding-top: var(--vertical-unit);
  margin-top: 0;
}
body:not(.cmt-layout) #main .element-margin--default.element-paragraph + .element-html {
  padding-top: var(--vertical-unit);
  margin-top: 0;
}
body:not(.cmt-layout) #main .element-margin--default:not(.background) + .footer-margin {
  margin-top: var(--margin-800);
}
body:not(.cmt-layout) #main .element-margin--default.background + .footer-margin {
  padding-top: 0;
  margin-top: 0;
}

.footer-margin {
  opacity: 0;
  height: 0;
  background-color: none;
  border: none;
}

*:not(.element) + .footer-margin {
  margin-top: var(--margin-800);
}

.element-size--fill-screen {
  height: var(--screen-height);
}
.element-size--fill-screen img, .element-size--fill-screen video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.element-size--half-screen {
  height: calc(var(--screen-height) / 2);
}
.element-size--half-screen img, .element-size--half-screen video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.element-size--third-screen {
  height: calc(var(--screen-height) / 3);
}
.element-size--third-screen img, .element-size--third-screen video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.element-size--two-third-screen {
  height: calc(var(--screen-height) / 3 * 2);
}
.element-size--two-third-screen img, .element-size--two-third-screen video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 900px) {
  .element-size--16x9 {
    aspect-ratio: 16/9;
    padding: 0;
  }
}
.element-size--16x9 img, .element-size--16x9 video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 900px) {
  .element-size--4x3 {
    aspect-ratio: 4/3;
    padding: 0;
  }
}
.element-size--4x3 img, .element-size--4x3 video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (min-width: 900px) {
  .element-size--1x1 {
    aspect-ratio: 1/1;
    padding: 0;
  }
}
.element-size--1x1 img, .element-size--1x1 video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body:not(.cmt-layout) .loading-screen {
  position: fixed;
  z-index: 800;
  inset: 0;
  background: var(--contrast-color-600);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.page-has-loaded .loading-screen {
  opacity: 0;
  pointer-events: none;
}
.page-has-loaded .loading-screen__animation {
  animation-play-state: paused;
}

body.is-loading .loading-screen {
  opacity: 1;
  pointer-events: all;
}
body.is-loading .loading-screen__animation {
  animation-play-state: running;
}

@keyframes load-spinner {
  to {
    transform: rotate(1turn);
  }
}
@keyframes load-dots {
  20% {
    background-position: top;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: center;
  }
}
@keyframes load-bars {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
.loading-screen__animation {
  width: 120px;
  padding: 1rem;
  background: var(--primary-color);
  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
  	conic-gradient(#0000, #000),
  	linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load-spinner 1s linear infinite;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav__list li {
  position: static;
  padding: 0;
}
.nav__list li::before {
  content: none;
  display: none;
}

.nav--menu {
  border: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  place-self: center;
  place-content: center;
  place-items: center;
  background: none;
  display: grid;
  place-items: center;
  height: auto;
  width: auto;
  max-height: min-content;
}
.nav--menu svg {
  width: calc(var(--header-height) - var(--gutter) * 3);
  height: calc(var(--header-height) - var(--gutter) * 3);
  fill: currentColor;
}
.nav--menu .cross,
.nav--menu .bars {
  grid-column: 1/1;
  grid-row: 1/1;
  line-height: 0;
  transition: opacity 200ms ease-in-out;
}
.nav--menu .cross {
  opacity: 0;
}
.nav--menu[aria-expanded=true] .cross {
  opacity: 1;
}
.nav--menu[aria-expanded=true] .bars {
  opacity: 0;
}

.subnav {
  display: none;
}

[aria-expanded=true] + .subnav {
  display: flex;
}

@media (max-width: 900px) {
  #main-nav.nav {
    position: fixed;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    text-align: right;
    background-color: var(--background-color);
    box-shadow: -1rem 0 1rem -0.5rem rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  #main-nav.nav:not(.nav--open) {
    display: none;
  }
  #main-nav .nav__list {
    font-size: 1.265625rem;
    line-height: 1.5802469136em;
    margin-bottom: 0rem;
    flex-flow: column;
    margin: auto;
  }
  #main-nav .subnav {
    margin: 1rem 0;
    padding: 1rem;
    width: calc(100% + 2rem);
    transform: translateX(-1rem);
  }
  #main-nav.nav {
    min-width: max-content;
    width: max(40%, 16rem);
    max-width: 100%;
  }
}
@media (min-width: 900px) {
  .nav {
    position: relative;
  }
  .nav__list {
    align-items: center;
  }
  .nav--menu {
    display: none;
  }
  .mobile-nav__footer,
  .mobile-nav__header {
    display: none;
  }
  .subnav {
    position: absolute;
    bottom: -2rem;
    transform: translate(-1rem, 100%);
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 0.5rem 0;
    gap: 0;
    border-radius: var(--border-radius);
  }
  .subnav .nav__item {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .subnav .nav__item a {
    width: 100%;
  }
}
@media (max-width: 319px) {
  #main-nav.nav {
    width: 100%;
  }
}
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--contrast-color);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.overlay__wrapper {
  max-width: var(--outer-bound-width);
}
.overlay__wrapper > *:not(.overlay--target) {
  display: none;
}
.overlay--open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.overlay__close {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 1000;
  background: none;
  border: none;
  font-size: 1.8020324707rem;
  line-height: 1.1098579146em;
  margin-bottom: 0rem;
  margin: 0;
  right: calc(var(--outer-bound));
  top: calc(var(--outer-bound));
  color: inherit;
}
.overlay__close svg {
  display: block;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.flash-messages {
  position: fixed;
  top: 0;
  z-index: 10;
  inset: auto 0;
  font-weight: 800;
  margin-bottom: -1rem;
}
.flash-messages + * {
  margin-top: 0;
}
.flash-messages .message {
  color: var(--text-color);
  background-color: skyblue;
  transition: 350ms ease-out;
  transition-property: max-height, opacity;
  max-height: 4rem;
  overflow: hidden;
}
.flash-messages .message .icon {
  font-size: 2rem;
}
.flash-messages .message__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
.flash-messages .message__dismiss {
  font-size: 1.6018066406rem;
  line-height: 1.2485901539em;
  margin-bottom: 0rem;
}
.flash-messages .message--error {
  color: var(--background-color);
  background-color: red;
}
.flash-messages .message--warning {
  color: var(--text-color);
  background-color: yellow;
}
.flash-messages .message--success {
  color: var(--background-color);
  background-color: green;
}
.flash-messages .message--dismissed {
  pointer-events: none;
  max-height: 0;
}

.hero {
  position: relative;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  inset: 0;
}
.hero__foreground {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.hero img {
  object-position: center;
  object-fit: cover;
  height: 100%;
}
.hero__caption {
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: var(--margin-600);
  padding-bottom: var(--margin-600);
}
@media (min-width: 900px) {
  .hero__caption {
    width: 50%;
    margin: auto auto auto 12.5%;
  }
}
@media (min-width: 1200px) {
  .hero__caption {
    width: 64ch;
  }
}

.media-object {
  display: flex;
  gap: 2rem;
}
.media-object > :first-child {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
.media-object > :last-child {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}
@media (max-width: 900px) {
  .media-object {
    flex-flow: column;
    gap: 1rem;
  }
}
@media (min-width: 900px) {
  .media-object--inverted {
    flex-direction: row-reverse;
  }
}
.media-object__image--fill-height {
  align-self: stretch;
  width: auto;
  height: auto;
}
.media-object__image--fill-height img, .media-object__image--fill-height video {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.media-object__image--fill-screen img, .media-object__image--fill-screen video {
  height: var(--screen-height);
  object-fit: cover;
  object-position: center;
}

.full-width.media-object .body-text > * {
  max-width: calc(var(--outer-bound-width) / 2);
  padding-right: 1rem;
}
.full-width.media-object--inverted .body-text > * {
  padding-left: 1rem;
  padding-right: 0;
}
@media (min-width: 900px) {
  .full-width.media-object--inverted .body-text > * {
    margin-left: auto;
  }
}

.quote {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: var(--margin-800);
  padding-bottom: var(--margin-800);
}
.quote[style*=custom-background] {
  background-image: var(--custom-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--contrast-color);
}
.quote__block {
  margin-bottom: 0;
  font-size: 1.6018066406rem;
  line-height: 1.2485901539em;
  margin-bottom: 0rem;
  font-weight: 600;
}
@media (min-width: 600px) {
  .quote__block {
    word-break: keep-all;
  }
}
.quote__author {
  font-size: 1.265625rem;
  line-height: 1.5802469136em;
  margin-bottom: 0rem;
  font-weight: 800;
}
.quote__figure, .quote__figcaption {
  padding: 0 var(--gutter);
}
.quote > * + * {
  margin-top: var(--margin-400);
}

.splide__track, .splide__list, .splide__slide, .splide figure {
  height: 100%;
}
.splide img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.splide ul {
  list-style: none;
}
.splide ul li {
  position: static;
  padding: 0;
}
.splide ul li::before {
  content: none;
  display: none;
}

.slide__figure {
  position: relative;
}
.slide__caption {
  position: absolute;
  bottom: var(--margin-400);
  left: var(--margin-300);
  right: var(--margin-300);
  font-size: 1.6018066406rem;
  line-height: 1.2485901539em;
  margin-bottom: 0rem;
  font-weight: 600;
  color: var(--background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--margin-300);
}

.tile {
  position: relative;
}
.tile img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.tile__caption {
  position: absolute;
  bottom: var(--margin-200);
  left: var(--margin-300);
  right: var(--margin-300);
  font-size: 1.265625rem;
  line-height: 1.5802469136em;
  margin-bottom: 0rem;
  font-weight: 600;
  color: var(--background-color);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.expander .body-text {
  margin-top: var(--margin-300);
}

.cards {
  display: flex;
  flex-flow: row;
  gap: var(--margin-400);
}

.card {
  flex: 1 1 0;
}

.light-box {
  overflow: hidden;
}
.light-box figure {
  height: 100%;
  width: 100%;
}
.light-box img,
.light-box video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  max-height: 80vh;
}
.light-box figure {
  transition: 500ms ease-out;
  transform-origin: center;
  opacity: 0;
  transform: translateY(-10%);
}
.light-box--active {
  z-index: 10;
  opacity: 1;
}
.light-box--active figure {
  opacity: 1;
  transform: translateY(0);
}

.light-box__controlls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.265625rem;
  line-height: 1.5802469136em;
  margin-bottom: 0rem;
  font-variant-numeric: tabular-nums;
}
.light-box__controlls button {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  color: inherit;
}
.light-box__controlls svg {
  display: block;
  height: 2em;
  width: 2em;
  fill: currentColor;
}
.light-box__controlls .light-box--total::after {
  content: " | ";
}

.map .mapboxgl-marker svg path {
  fill: var(--primary-color, blue) !important;
}

/**
 * main.scss
 */
/*# sourceMappingURL=main.css.map */